<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    {{>headerlinks}}
 <style>
     
    
    
     body {
  
  
  text-align: center;
 background: url(images/train.webp) right bottom no-repeat;
  background-size: 300px, 260px, auto;
     }

     button{
    border: none ;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
    height: 10;
    
}
button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

     table, td, th {  
     border: 1px solid #ddd;
     text-align: left;
   }
   
   table {
     border-collapse: collapse;
     width: 50%;
    
   }
   .train-data{
       position: relative;
     left:50px;
     top:50px;
    
   }
   th, td {
     padding: 15px;
     font-size: 12px;
   }

 </style>

</head>
<body  >
    {{>adminNavbar}}

 <!--====form section start====-->
 <center>
    <div class="train-data" >
    <table border="1" >
        <tr>
            <th>Train Number</th>
            <th>Train Name</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Total Space</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        
       
           
       {{#each trainData }}
        <tr>
            
            <td>{{tnum}}</td>
            <td>{{tname}}</td>
            <td>{{source}}</td>
            <td>{{dest}}</td>
            <td>{{availSpace}}</td>
            <td>{{capacity}}</td>
            <td>{{rateperkg}}</td>
            <form action="UpdateInfo" method="POST">
            <td> <button type="submit" name="update" value={{tnum}} style="width:100px;">Update</button></td>
            </form>
            <form action="DeleteInfo" method="POST">
            <td> <button type="submit" value={{tnum}} name="delete" style="width:100px;">Delete</button></td>
            </form>
        </tr>
       {{/each}}
        
    </table>
    </div>
</center>












{{>footer}}



</body>
</html>